footer {
    background-color: var(--verdeMusgo);
    padding: 1rem 0;
}

.elementos_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

.nombre_marca span {
    font-weight: bold;
    font-size: 1.2rem;
}


.logo_marca {
    height: 75px;
    width: auto;

}
.logo_marca img {
    height: 100%;
    width: auto;
}

.copyright span {
    font-size: 0.8rem;
}