
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}


footer {
    background-color: var(--verdeMusgo); 
    padding: 1rem 0;
    text-align: center;
}


.elementos_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

.nombre_marca span {
    font-weight: bold;
    font-size: 1.2rem;
}

.logo_marca {
    height: 75px;
    width: auto;
}

.logo_marca img {
    height: 100%;
    width: auto;
}

.copyright span {
    font-size: 0.8rem;
}
