#hero{

    margin-top: 4rem;
}

.elementos_hero{
    background-color:var(--VerdeMain);
    color: white;

    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding:30px;
    justify-content: space-evenly;
}




.lado_izquierdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.lado_izquierdo div{
    width: 100%;
}


.lado_izquierdo .subtitle_section{
line-height: 1;
}

.lado_izquierdo .desc_section{
    margin-top: 25px;
    max-width: 700px;
}   
.botonera_hero button{
    margin:0;
}
.lado_izquierdo .botonera_hero{
    display: flex;
    gap: 15px;
}

.lado_derecho img{
    max-width: 450px;
    max-height: 450px;
}


@media (max-width:1220px){

    .elementos_hero{
        flex-direction: column;
    }
    .lado_derecho{
        display: none;
    }
    .lado_izquierdo{
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    .lado_izquierdo .botonera_hero{
        justify-content: center;
    }

}