@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
  --primary-custom:#22c55e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.text-primary-custom {
  color: var(--primary-custom);
}

.bg-primary-custom {
  background-color:var(--primary-custom);
}

.border-primary-custom {
  border-color: 1px solid var(--primary-custom);
}
.gradient-primary {
  background: linear-gradient(135deg, #4ade80 0%, var(--primary-custom) 100%);
}
  